body {
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  color: rgb(33, 10, 10);
  font-size: 8rem;

}

/* LOGO STYLING */
#ADC-logo {
  position:relative;
  display:block;
  width:100%;
  height:100%;
}

/* HERO or CALL TO ACTION SECTION SYTLING  */
.hero {
  position: relative;
  background:  center/cover no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(96, 241, 120, 0.6);
  z-index: 1;
}

.hero-content {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  color: #0e030f;
  z-index: 2;
}

.hero-title {
  font-size: 5em;
  margin-bottom: 20px;
  animation: fadeInUp 1s ease-in-out;
}

.hero-subtitle {
  font-size: 3em;
  margin-bottom: 30px;
  animation: fadeInUp 1s ease-in-out 0.5s;
}

.hero-button {
  display: inline-block;
  padding: 30px 20px;
  font-size: 1.8em;
  text-decoration: none;
  color: #200c0c;
  background-color: #f52424;
  border-radius: 40px;
  transition: background-color 0.3s ease-in-out;
}

.hero-button:hover {
  background-color: #08ceff;
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

/* NAVIGATION BAR STYLING */
.navbar {
  background-color: #89e251;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  display: flex;
  flex-direction: column;
  

}

ul {
  display: flex;
  flex-direction: column-reverse;
  list-style-type: none;
  background: linear-gradient(to right, #40B6C0 40%, #2689B9 80%);
  justify-content: right;
  place-items: end;
}

ul>li>a {
  padding: 0 12px;
  color: rgb(24, 6, 6)
  font-size: 1rem;
  width: 100%
}

li a {
  font-family:'Poppins', sans-serif;
  font-size: 3rem;
  font-style:none;
    display: block;
    color: #1a2b03;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

li a:visited {
  background-color: #170b5d;
  color: #0f0629;
}

li a:hover {
  background-color: #f5f10c;
  color: #000000;
}

/* RESPONSIVE STYLING FOR NAV BAR */
@media screen and (max-width: 600px) {
  .navbar {
    background-color: #074f76;
    background: linear-gradient(to right, #40B6C0 40%, #2689B9 80%);
  } 

  ul>li>a {
    font-size: 2rem;
    padding: 0 6px;
  }

  
}

@media screen and (max-width: 1200px) {
  .navbar {
    background-color: #6a2cc0;
    background: linear-gradient(to right, #9283a8 40%, #5a4dd2 80%);
  } 

  ul>li>a {
    font-size: 3rem;
    padding: 0 6px;
  }

  
}


/* ABOUT US HISTORY STYLING */
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background white;
  box-shadow: 0px 0px 10px rgba(96, 241, 120, 0.6);
  border-radius: 8px;
}

h1,p {
  text-align: center;

}

.feature {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  gap: 20px
  margin-top: 20px
}

.card {
  background: #fff;
  padding:15px
  border-radius: 8px
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1)
  text-align: center;
  width: px;
}

.card img {
  width:10px
  height: 10px
  border-radius:50%
  object-fit: cover;
}

/* SERVICES STYLING */
/* Services page styles */
#Services { 
  * {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(90, 90, 90);
  background-blend-mode: multiply;
  background-position: center;
  color: #fff;
}

h1,
h3 {
  text-align: center;
  text-transform: uppercase;
}

h1 {
  position: relative;
  max-width: max-content;
  margin: 2rem auto 5rem auto;
}

h1::after {
  /* content: ""; */
  position: absolute;
  width: 75%;
  height: 5px;
  background-color: rgb(18, 116, 18);
  bottom: -2rem;
  left: 25px;
}

i {
  font-size: 3rem;
  color: rgb(12, 108, 12);
  padding: 1rem;
  transition: all 0.3s linear;
  transform: rotate(-45deg);
}

.services-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.service-card {
  cursor: pointer;
  width: 300px;
  margin: 20px;
  padding: 2rem 20px 20px 20px;
  text-align: center;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.icon-container {
  border: 2px solid rgb(12, 81, 12);
  transition: 0.3s linear;
  width: max-content;
  margin: 0 auto;
  transform: rotate(45deg);
}

.service-card:hover {
  box-shadow: 0 0 30px 0 rgb(6, 182, 17);
  transform: scale(1.1);
}

.service-card a {
  color: rgb(3, 39, 3);
  text-decoration: none;
}

@media (max-width: 768px) {
  .service-card {
      width: 100%;

    }
  }

}

/* CONTACT PAGE MESSAGE STYLING */
 #Contact { 

  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #4068cd; 
}
body, input,textarea, a{
    font-family: 'Poppins', sans-serif;
}
}

#section-wrapper{
    width: 100%;
    padding: 10px;

.box-wrapper{
    position: relative;
    display: table;
    width:1100px;
    margin:auto;
    margin-top:35px;
    border-radius: 30px;
}
.info-wrap{
    width:35%;
    height: 551px;
    padding: 40px;
    float: left;
    display: block;
    border-radius: 30px 0px 0px 30px;
    background: linear-gradient(144deg, rgb(6, 113, 38) 0%, rgb(39, 153, 157) 49%);
    color: #fff;
}
.info-title{
    text-align: left;
    font-size: 1.75rem;
    letter-spacing: 0.5px;
}
.info-sub-title{
    font-size: 1.125rem;
    font-weight: 300;
    margin-top: 17px;
    letter-spacing: 0.5px;
    line-height: 26px;
}
.info-details {
    list-style: none;
    margin: 60px 0px;
}
.info-details li {
    margin-top: 25px;
    font-size: 18px;
    color: #fff;
}
.info-details li i {
    background: #F44770;
    padding: 12px;
    border-radius: 50%;
    margin-right: 5px;
}
.info-details li a {
    color: #fff;
    text-decoration: none;
}
.info-details li a:hover {
    color: #F44770;
}
.social-icons {
    list-style: none;
    text-align: center;
    margin: 20px 0px;
}
.social-icons li {
    display: inline-block;
}
.social-icons li i {
    background: #F44770;
    color: #fff;
    padding: 15px;
    font-size: 1.25rem;
    border-radius: 22%;
    margin: 0px 5px;
    cursor: pointer;
    transition: all .5s;
}
.social-icons li i:hover {
    background: #fff;
    color: #000000;
}
.form-wrap{
    width:65%;
    float: right;
    padding:40px 25px 35px 25px;
    border-radius: 0px 30px 30px 0px;
    background: #ecf0f3;
}
.form-title{
    text-align: left;
    margin-left: 23px;
    font-size: 1.75rem;
    letter-spacing: 0.5px;
}
.form-fields{
    display: table;
    width: 100%;
    padding: 15px 5px 5px 5px;
}

.form-fields input,
.form-fields textarea{
    border: none;
    outline:none;
    background: none;
    font-size: 18px;
    color:#555;
    padding: 20px 10px 20px 5px;
    width:100%
}

.form-fields textarea{
    height: 150px;
    resize: none;

}
.form-group{
    width: 46%;
    float: left;
    padding: 0px 30px;
    margin: 14px 12px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;

}
.form-fields .form-group:last-child {
    width: 96%;
}

.submit-button{
    width: 96%;
    height: 60px;
    margin: 0px 12px;
    border-radius: 30px;
    font-size: 1.125rem;;
    font-weight: 700;
    outline: none;
    border:none;
    cursor: pointer;
    color:#fff;
    text-align: center;
    background: #e13a14;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    transition: .5s;

}
.submit-button:hover{
    background: #31279d;
}

/* RESPONSIVE STYLING FOR CONTACT */
@media only screen and (max-width: 767px) {
    .box-wrapper{
        width: 100%;
    }
    .info-wrap,
    .form-wrap{
        width: 100%;
        height: inherit;
        float: none;  
    }
    .info-wrap{
        border-radius: 30px 30px 0px 0px;
    }
    .form-wrap{
        border-radius: 0px 0px 30px 30px;
    }
    .form-group{
        width: 100%;
        float: none;
        margin: 25px 0px;
    }
    .form-fields .form-group:last-child, 
    .submit-button{
        width: 100%;
    }
    .submit-button{
        margin: 10px 0px;
    }
   
}

/* FOOTER STYLING */
.footer {
  footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;

    padding-top: 40px;
    color: #fff;
  }
}

  .footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px;
    padding-bottom:40px
    text-align: center;
}

.footer-bottom p{
float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p a{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.footer-menu{
  float: right;

}
.footer-menu ul{
  display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
}
.footer-menu ul li a:hover{
  color: #27bcda;
}

@media (max-width:500px) {
.footer-menu ul{
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}
}